.display {
  display: flex;
  flex-flow: wrap row;
}
.make-btn {
  color: white;
  border-radius: 50%;
  width: 50%;
  height: 6rem;
  border: none;
  background-color: #d34039;
  opacity: 0.85;
  font-size: 1.75rem;
}
.make-btn:hover {
  background-color: #39b7d3;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Work Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Anton", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.main-header {
  background-color: #79d339;
  padding-top: 2rem;
  display: flex;
  flex-flow: wrap row;
}
@media (max-width: 500px) {
  .main-header {
    display: block;
    padding-bottom: 1rem;
  }
}
.main-header a {
  font-size: 2.5rem;
  text-decoration: none;
  padding: 2rem;
  color: white;
}
.main-header a:hover {
  color: #bff0ff;
  text-decoration: underline;
}
.main-header h1 {
  color: #d34039;
  padding-right: 47rem;
  margin-left: 6rem;
  margin-bottom: 1.5rem;
  opacity: 0.75;
}
@media (max-width:1000px) {
  .main-header h1 {
    padding-right: 10rem;
  }
}
@media (max-width: 800px) {
  .main-header h1 {
    padding-right: 0;
    margin-left: 2rem;
  }
}
@media (max-width: 500px) {
  .main-header h1 {
    text-align: center;
  }
}
.home-main-container {
  background-color: #bff0ff;
}
.home-main-container .top-content .flex-container {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  margin: 5rem;
}
@media (max-width: 800px) {
  .home-main-container .top-content .flex-container {
    margin: 3rem 1rem;
  }
}
@media (max-width: 500px) {
  .home-main-container .top-content .flex-container {
    flex-direction: column;
    margin: 1rem;
  }
}
.home-main-container .top-content img {
  width: 50%;
  margin-right: 4rem;
}
@media (max-width: 800px) {
  .home-main-container .top-content img {
    margin-right: 1rem;
    width: 58%;
  }
}
@media (max-width: 500px) {
  .home-main-container .top-content img {
    width: 100%;
  }
}
.home-main-container .top-content .punch-line {
  order: 1;
  width: 40%;
  text-align: center;
}
@media (max-width: 500px) {
  .home-main-container .top-content .punch-line {
    width: 100%;
    margin-top: 2rem;
  }
}
.home-main-container .top-content p {
  font-size: 2rem;
  margin-bottom: 3rem;
}
@media (max-width:1000px) {
  .home-main-container .top-content p {
    margin-bottom: 0;
  }
}
.home-main-container .top-content .get-started {
  color: white;
  border-radius: 50%;
  width: 50%;
  height: 6rem;
  border: none;
  background-color: #d34039;
  opacity: 0.85;
  font-size: 1.75rem;
}
.home-main-container .top-content .get-started:hover {
  background-color: #39b7d3;
}
.home-main-container .bottom-content {
  background-color: #e7f7ff;
  width: 75%;
  padding-bottom: 12rem;
  margin: -9rem auto;
  position: relative;
  z-index: 1;
}
@media (max-width:1000px) {
  .home-main-container .bottom-content {
    margin: -7rem auto;
  }
}
@media (max-width: 800px) {
  .home-main-container .bottom-content {
    position: static;
    margin: 0rem auto;
    width: 95%;
  }
}
@media (max-width: 500px) {
  .home-main-container .bottom-content {
    margin-top: 3rem;
    padding-bottom: 5rem;
  }
}
.home-main-container .bottom-content h2 {
  line-height: 1.4;
  padding-top: 3rem;
  width: 45%;
  text-align: center;
  margin: auto;
}
@media (max-width: 800px) {
  .home-main-container .bottom-content h2 {
    padding: 2rem;
    width: 75%;
  }
}
@media (max-width: 500px) {
  .home-main-container .bottom-content h2 {
    width: 100%;
  }
}
.home-main-container .bottom-content .flex-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .home-main-container .bottom-content .flex-container {
    flex-direction: column;
  }
}
.home-main-container .bottom-content .cards {
  margin-top: 5rem;
  padding-right: 2rem;
  width: 27%;
  text-align: center;
  border-right: solid black 2px;
}
@media (max-width: 500px) {
  .home-main-container .bottom-content .cards {
    width: 100%;
    border-right: none;
    padding: 2rem;
    margin-top: 0.5rem;
  }
}
.home-main-container .bottom-content .cards h3 {
  margin-top: 1.5rem;
}
.home-main-container .bottom-content .fa-hippo,
.home-main-container .bottom-content .fa-horse,
.home-main-container .bottom-content .fa-paw {
  color: #39b7d3;
  opacity: 0.3;
}
.about-main-container {
  width: 100%;
  margin: 0 auto;
  background-color: #bff0ff;
}
@media (max-width: 800px) {
  .about-main-container {
    width: 100%;
  }
}
.about-main-container .flex-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
}
.about-main-container .middle-content {
  margin: 1rem 2rem;
  width: 65%;
}
@media (max-width:1000px) {
  .about-main-container .middle-content {
    width: 65%;
  }
}
@media (max-width: 800px) {
  .about-main-container .middle-content {
    margin-top: 2rem;
    width: 95%;
  }
}
.about-main-container .middle-content img {
  width: 100%;
}
@media (max-width: 800px) {
  .about-main-container .middle-content img {
    height: 375px;
  }
}
.about-main-container .middle-content h1 {
  text-align: center;
  margin: 7rem 1rem;
}
@media (max-width: 500px) {
  .about-main-container .middle-content h1 {
    margin: 2rem 1rem;
  }
}
.about-main-container .middle-content p {
  font-size: 2.5rem;
}
.about-main-container .middle-content p .take-control {
  text-decoration: underline;
  font-weight: bold;
}
.about-main-container aside {
  margin-top: 1rem;
  width: 20%;
  margin-left: 1.75rem;
  background-color: #e7f7ff;
}
@media (max-width:1000px) {
  .about-main-container aside {
    width: 30%;
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .about-main-container aside {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}
@media (max-width: 800px) {
  .about-main-container aside .side-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.about-main-container aside h2 {
  font-size: 4rem;
  text-align: center;
  margin: 1.5rem;
  text-decoration: underline;
}
.about-main-container aside .devs {
  display: flex;
  flex-flow: wrap row;
  margin: 1rem;
}
@media (max-width: 800px) {
  .about-main-container aside .devs {
    width: 36%;
  }
}
.about-main-container aside .devs .name {
  font-weight: bold;
  font-size: 2.15rem;
}
.about-main-container aside .devs .info {
  font-weight: bold;
  font-size: 1.75rem;
}
.about-main-container aside img {
  width: 55%;
  margin-right: 1.3rem;
}
