.about-main-container {
  .sizing(85%);
  margin: 0 auto;
  background-color: @main-background;

  @media @tablet {
    width: 100%;
  }
  //////////Main Header///////////
  .main-header {
    background-color: @light-grass-color;
    padding-top: 2rem;
    .display();

    a {
      font-size: 2.5rem;
      text-decoration: none;
      padding: 2rem;
      color: white;

      @media @tablet {
        padding: 1rem;
      }

      &:hover {
        color: @main-background;
        text-decoration: underline;
      }
    }

    h1 {
      color: @brick-color;
      padding-right: 40rem;
      margin-left: 6rem;
      margin-bottom: 1.5rem;
      opacity: 0.75;

      @media @tablet {
        padding-right: 0;
        margin: 0 2rem;
      }
    }
  }
  ////////////////Middle Section////////////
  .flex-container {
    .display();
  }

  .middle-content {
    margin: 1rem 2rem;
    .sizing(65%);

    @media @tablet {
      margin-top: 2rem;
      .sizing(95%);
    }

    img {
      width: 100%;

      @media @tablet {
        height: 375px;
      }
    }

    h1 {
      text-align: center;
      margin: 2rem 1rem;
    }

    p {
      font-size: 2.5rem;

      .take-control {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  ///////////////Side Content//////////
  aside {
    margin-top: 1rem;
    .sizing(30%);
    margin-left: 1.75rem;
    background-color: @second-background;

    @media @tablet {
      .sizing(90%);
      margin: 0 auto;
      padding-bottom: 4rem;
    }

    .side-flex-container {
      @media @tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    }

    h2 {
      font-size: 4rem;
      text-align: center;
      margin: 1.5rem;
      text-decoration: underline;
    }

    .devs {
      .display();
      margin: 1rem;

      @media @tablet {
        .sizing(36%);
      }

      .name {
        font-weight: bold;
        font-size: 2.15rem;
      }
    }

    img {
      .sizing(40%);
      margin-right: 1.3rem;
    }
  }
}
