.about-main-container {
  .sizing(100%);
  margin: 0 auto;
  background-color: @main-background;

  @media @tablet {
    width: 100%;
  }
  ////////////////Middle Section////////////
  .flex-container {
    .display();
    justify-content: space-evenly;
  }

  .middle-content {
    margin: 1rem 2rem;
    .sizing(65%);

    @media @desktop {
      .sizing(65%);
    }

    @media @tablet {
      margin-top: 2rem;
      .sizing(95%);
    }

    img {
      width: 100%;

      @media @tablet {
        height: 375px;
      }
    }

    h1 {
      text-align: center;
      margin: 7rem 1rem;

      @media @phone {
        margin: 2rem 1rem;
      }
    }

    p {
      font-size: 2.5rem;

      .take-control {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
  ///////////////Side Content//////////
  aside {
    margin-top: 1rem;
    .sizing(20%);
    margin-left: 1.75rem;
    background-color: @second-background;

    @media @desktop {
      .sizing(30%);
      margin-left: 0;
    }

    @media @tablet {
      .sizing(90%);
      margin: 0 auto;
      padding-bottom: 4rem;
    }

    .side-flex-container {
      @media @tablet {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    }

    h2 {
      font-size: 4rem;
      text-align: center;
      margin: 1.5rem;
      text-decoration: underline;
    }
    .devs {
      .display();
      margin: 1rem;

      @media @tablet {
        .sizing(36%);
      }

      .name {
        font-weight: bold;
        font-size: 2.15rem;
      }

      .info {
        font-weight: bold;
        font-size: 1.75rem;
      }
    }

    img {
      .sizing(55%);
      margin-right: 1.3rem;

      @media @phone {
        height: 10rem;
      }
    }
  }
}
