.home-main-container {
  background-color: @main-background;

  /////////////////Main header//////////
  .main-header {
    background-color: @light-grass-color;
    padding-top: 2rem;
    .display();

    a {
      font-size: 2.5rem;
      text-decoration: none;
      padding: 2rem;
      color: white;

      &:hover {
        color: @main-background;
        text-decoration: underline;
      }
    }

    h1 {
      color: @brick-color;
      padding-right: 47rem;
      margin-left: 6rem;
      margin-bottom: 1.5rem;
      opacity: 0.75;
    }
  }
  //////////////////////Top Section Content//////////
  .top-content {
    .flex-container {
      .display();
      align-items: center;
      margin: 5rem;
    }
    img {
      width: 50%;
      margin-right: 4rem;
    }
    .punch-line {
      order: 1;
      width: 40%;
      text-align: center;
    }

    p {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    .get-started {
      .make-btn();
    }
  }
  ////////////////////Bottom Content/////////////
  .bottom-content {
    background-color: @second-background;
    height: 50rem;
    width: 75%;
    margin: -9rem auto;
    position: relative;
    z-index: 1;

    h2 {
      line-height: 1.4;
      padding-top: 3rem;
      width: 45%;
      text-align: center;
      margin: auto;
    }

    .flex-container {
      .display();
      justify-content: space-evenly;
    }

    .cards {
      margin-top: 5rem;
      padding-right: 2rem;
      width: 27%;
      text-align: center;
      border-right: solid black 2px;

      h3 {
        margin-top: 1.5rem;
      }
    }

    .fa-hippo,
    .fa-horse,
    .fa-paw {
      color: @sky-blue-color;
      opacity: 0.3;
    }
  }
}
