.home-main-container {
  background-color: @main-background;

  /////////////////Main header//////////
  .main-header {
    background-color: @light-grass-color;
    padding-top: 2rem;
    .display();

    @media @phone {
      display: block;
      padding-bottom: 1rem;
    }

    a {
      font-size: 2.5rem;
      text-decoration: none;
      padding: 2rem;
      color: white;

      &:hover {
        color: @main-background;
        text-decoration: underline;
      }
    }

    h1 {
      color: @brick-color;
      padding-right: 47rem;
      margin-left: 6rem;
      margin-bottom: 1.5rem;
      opacity: 0.75;

      @media @tablet {
        padding-right: 0;
        margin-left: 2rem;
      }

      @media @phone {
        text-align: center;
      }
    }
  }
  //////////////////////Top Section Content//////////
  .top-content {
    .flex-container {
      .display();
      align-items: center;
      margin: 5rem;

      @media @tablet {
        margin: 3rem 1rem;
      }

      @media @phone {
        flex-direction: column;
        margin: 1rem;
      }
    }
    img {
      .sizing(50%);
      margin-right: 4rem;

      @media @tablet {
        margin-right: 1rem;
        .sizing(58%);
      }

      @media @phone {
        .sizing(100%);
      }
    }
    .punch-line {
      order: 1;
      .sizing(40%);
      text-align: center;

      @media @phone {
        .sizing(100%);
        margin-top: 2rem;
      }
    }

    p {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    .get-started {
      .make-btn();
    }
  }
  ////////////////Bottom Content/////////////
  .bottom-content {
    background-color: @second-background;
    // height: 50rem;
    .sizing(75%);
    padding-bottom: 12rem;
    margin: -9rem auto;
    position: relative;
    z-index: 1;

    @media @tablet {
      position: static;
      margin: 0rem auto;
      width: 95%;
    }

    @media @phone {
      margin-top: 3rem;
      padding-bottom: 5rem;
    }

    h2 {
      line-height: 1.4;
      padding-top: 3rem;
      .sizing(45%);
      text-align: center;
      margin: auto;

      @media @tablet {
        padding: 2rem;
        width: 75%;
      }

      @media @phone {
        .sizing(100%);
      }
    }

    .flex-container {
      .display();
      justify-content: space-evenly;

      @media @phone {
        flex-direction: column;
      }
    }

    .cards {
      margin-top: 5rem;
      padding-right: 2rem;
      .sizing(27%);
      text-align: center;
      border-right: solid black 2px;

      @media @phone {
        .sizing(100%);
        border-right: none;
        padding: 2rem;
        margin-top: 0.5rem;
      }

      h3 {
        margin-top: 1.5rem;
      }
    }

    .fa-hippo,
    .fa-horse,
    .fa-paw {
      color: @sky-blue-color;
      opacity: 0.3;
    }
  }
}
