.home-main-container {
  background-color: @main-background;

  /////////////////Main header//////////
  .main-header {
    background-color: @light-grass-color;
    padding-top: 2rem;
    .display();

    a {
      font-size: 2.5rem;
      text-decoration: none;
      padding: 2rem;
    }

    h1 {
      color: @brick-color;
      padding-right: 50rem;
    }
  }
  //////////////////////Top Section Content//////////
  .top-content {
    .flex-container {
      .display();
      align-items: center;
      margin: 3rem;
    }
    img {
      width: 50%;
      margin-right: 1rem;
    }
    .punch-line {
      order: 1;
      width: 40%;
      text-algin: center;
    }

    p {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    .get-started {
      margin-left: 5rem;
    }
    .get-started,
    .about-us {
      margin-left: 3rem;
    }
  }
}
