.display {
  display: flex;
  flex-flow: wrap row;
}

.sizing(@size) {
  width: @size;
}

.make-btn {
  color: white;
  border-radius: 50%;
  width: 50%;
  height: 6rem;
  border: none;
  background-color: @brick-color;
  opacity: 0.85;
  font-size: 1.75rem;

  &:hover {
    background-color: @sky-blue-color;
  }
}
